<!DOCTYPE html>
<html lang="en" class="[scrollbar-gutter:stable]">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="csrf-token" content={get_csrf_token()} />
    <.live_title suffix=" · MKOUSSA">
      <%= assigns[:page_title] || "KORG LOGUESDK" %>
    </.live_title>
    <link phx-track-static rel="stylesheet" href={~p"/assets/app.css"} />

    <link href="https://fonts.googleapis.com/css?family=Megrim" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css?family=Noto+Sans" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css?family=Bebas+Neue" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css?family=Sixtyfour" rel="stylesheet" />

    <script defer phx-track-static type="text/javascript" src={~p"/assets/app.js"}>
    </script>
    <style>
      .header-container-top, .header-container-side, .header-container-bottom {
        mix-blend-mode: difference;
      }
      .core-button {
        background-color: gold; 
        border-color: gold; 
        color: black; 
        font-family: 'Bebas Neue';
        font-size: clamp(12px, 3vw, 26px);
      }
      .core-button:active {
        background-color: gold; 
        border-color: gold; 
      }
      .loguesdk-mainBody {
        mix-blend-mode: difference;

      }
      body {
        background-color: #232323;
      }
      html {
        background-color: #232323;
      }
      .mainBody {
        font-size: clamp(12px, 2.5vw, 22px);
        font-family: 'Bebas Neue'; 
        color: gold; 
        animation-name: backColorLogueSDK;
        animation-duration: 3s;
      }
      .download-table {
        border-radius: 5px;
        margin-left: auto;
        margin-right: auto;
        text-align: center;
        table-layout: fixed;
        border: 3px solid gold;
        color: gold;
        mix-blend-mode: difference;
        animation-name: backColorLogueSDK;
        animation-duration: 4s;
      }
      .nav {
        animation-duration: 1.7s;
      }
    </style>
  </head>
  <body>
    <div class="grid-container">
      <div class="header-container-top" style=" grid-column: 1 / 5;grid-row: 1;">
        <h1
          class="header-scroll"
          style="animation: marquee 200s linear infinite; font-family: 'Bebas Neue'; color: gold;"
        >
          <span :for={_n <- 1..2}>KORG&nbsp;LOGUESDK&nbsp;</span>
          <span style="color: #00ff33; font-family: Sixtyfour; animation: rainbow-color 2.5s linear; animation-iteration-count: infinite;">
            LOGUESDK
          </span>
          <span :for={_n <- 1..26}>KORG&nbsp;LOGUESDK&nbsp;</span>
        </h1>
      </div>

      <div class="header-container-side" style="grid-column: 1; grid-row: 1 / 4; rotate: 180deg;">
        <h1
          class="header-scroll"
          style="animation: marquee 40s linear infinite; rotate: 90deg; font-family: 'Bebas Neue'; color: gold;"
        >
          <span :for={_n <- 1..14}>MKOUSSA&nbsp;</span>
        </h1>
      </div>

      <div
        class="nav"
        style=" font: x-large 'Bebas Neue'; animation-name: backColorReverseLogueSDK; background-color: gold;"
      >
        <a class="navButton" href={~p"/"}>Home</a> <br /><br />
        <.link class="navButton" navigate={~p"/loguesdk/effects/"}>Effects</.link> <br /><br />
        <.link class="navButton" navigate={~p"/loguesdk/oscillators/"}>Oscillators</.link>
        <br /><br />
        <.link class="navButton" navigate={~p"/loguesdk/resources/"}>Resources</.link>
        <br /><br />
        <%= if is_nil(@current_user) do %>
          <a class="navButton" href={~p"/users/log_in"}>Log In</a> <br /><br />
        <% end %>
      </div>
      <div style="grid-column: 3; grid-row: 2;">
        <div class="nav-user-div">
          <%= if @current_user do %>
            <ul
              class="nav_user"
              style="font-family: 'Bebas Neue'; color: gold; background-color: gold; animation-name: backColorReverseLogueSDK;"
            >
              <li class="nav_user_li">
                <.link class="nav_user_button" href={~p"/users/log_out"} method="delete">
                  Log Out
                </.link>
              </li>
              <li class="nav_user_li">
                <a class="nav_user_button" href={~p"/users/orders/"}>Orders</a>
              </li>
              <li class="nav_user_li">
                <a class="nav_user_button" href={~p"/users/settings/"}>Settings</a>
              </li>
            </ul>
          <% end %>
        </div>
        <div class="mainBody">
          <%= @inner_content %>
        </div>
      </div>

      <div class="header-container-side" style="grid-column: 4; grid-row: 1 / 4;">
        <h1
          class="header-scroll"
          style="animation: marquee 40s linear infinite; rotate: 90deg; font-family: 'Bebas Neue'; color: gold;"
        >
          <span :for={_n <- 1..14}>LOGUESDK&nbsp;</span>
        </h1>
      </div>

      <div class="header-container-bottom" style="grid-column: 1 / 5; grid-row:3;">
        <h1
          class="header-scroll"
          style="animation: marquee 200s linear infinite; rotate: 180deg; font-family: 'Bebas Neue'; color: gold;"
        >
          <span :for={number <- 1..28}>L<%= number %>GUESDK&nbsp;</span>
        </h1>
      </div>
    </div>
  </body>
</html>
