<!DOCTYPE html>
<html lang="en" class="[scrollbar-gutter:stable]">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="csrf-token" content={get_csrf_token()} />
    <.live_title suffix=" · MKOUSSA">
      <%= assigns[:page_title] || "HOME" %>
    </.live_title>
    <link phx-track-static rel="stylesheet" href={~p"/assets/app.css"} />

    <link href="https://fonts.googleapis.com/css?family=Megrim" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css?family=Noto+Sans" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css?family=Sixtyfour" rel="stylesheet" />

    <script defer phx-track-static type="text/javascript" src={~p"/assets/app.js"}>
    </script>
  </head>
  <body style="background-color: #0f070b;">
    <div class="grid-container">
      <div class="header-container-top" style=" grid-column: 1 / 5;grid-row: 1">
        <h1 class="header-scroll" style="animation: marquee 100s linear infinite;">
          <span :for={_n <- 1..4}>MKOUSSA&nbsp;</span>
          <span style="color: #00ff33;">WELCOME&nbsp;HOME&nbsp;</span>
          <span :for={_n <- 1..9}>MKOUSSA&nbsp;</span>
        </h1>
      </div>

      <div class="header-container-side" style="grid-column: 1; grid-row: 1 / 4; rotate: 180deg;">
        <h1 class="header-scroll" style="animation: marquee 20s linear infinite; rotate: 90deg;">
          <span :for={_n <- 1..7}>MKOUSSA&nbsp;</span>
        </h1>
      </div>

      <div class="nav">
        <a class="navButton" href={~p"/shop/products/"}>Shop</a> <br /><br />
        <a class="navButton" href={~p"/loguesdk/"}>Korg LogueSDK</a> <br /><br />
        <a class="navButton" href={~p"/mkoussa/"}>About</a> <br /><br />
        <a class="navButton" href={~p"/blorp"}>Blorp</a> <br /><br />
      </div>
      <div class="mainBody">
        <%= @inner_content %>
      </div>

      <div class="header-container-side" style="grid-column: 4; grid-row: 1 / 4;">
        <h1 class="header-scroll" style="animation: marquee 20s linear infinite; rotate: 90deg;">
          <span :for={_n <- 1..7}>MKOUSSA&nbsp;</span>
        </h1>
      </div>

      <div class="header-container-bottom" style="grid-column: 1 / 5; grid-row:3;">
        <h1 class="header-scroll" style="animation: marquee 100s linear infinite; rotate: 180deg;">
          <span :for={number <- 1..14}>MK<%= number %>USSA&nbsp;</span>
        </h1>
      </div>
    </div>
  </body>
</html>
