<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="csrf-token" content={get_csrf_token()} />
    <.live_title suffix=" · MKOUSSA">
      <%= assigns[:page_title] || "HOME" %>
    </.live_title>
    <link phx-track-static rel="stylesheet" href={~p"/assets/app.css"} />

    <link href="https://fonts.googleapis.com/css?family=Megrim" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css?family=Noto+Sans" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css?family=Sixtyfour" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css?family=Bebas+Neue" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css?family=Major+Mono+Display" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css?family=Six+Caps" rel="stylesheet" />

    <script defer phx-track-static type="text/javascript" src={~p"/assets/app.js"}>
    </script>
    <style>
      .navButton {
        font-size: clamp(12px, 2vw, 18px);
        color: #ffc7ff; 
      }
      .core-input-label {
        background-color: #C46DC4;
        color: #ffc7ff;
      }
      .core-input-input{
        border-color: #C46DC4;
        color:  #ffc7ff;
      }
      .core-button {
        mix-blend-mode: difference;
      }
      body  {
        background-color: #0f070b;
        background-image: url(/images/purp-opt-darker.jpg);
        background-size: fill;
        background-position: center;
        -webkit-animation: slidein 30s;
        animation: slidein 30s;

        -webkit-animation-fill-mode: forwards;
        animation-fill-mode: forwards;

        -webkit-animation-iteration-count: infinite;
        animation-iteration-count: infinite;

        -webkit-animation-direction: alternate;
        animation-direction: alternate;              
      }
      h1, h2, h3 {
        font-family: Sixtyfour, Helvetica, sans-serif;
      }
      h1 {
        font-size: clamp(6px, 3vw, 40px);  
      }
      h2, h3 {
        mix-blend-mode: difference;
      }
      @-webkit-keyframes slidein {
        from {background-position: -2200px -2600px; background-size: 9264px; }
        to {background-position: center; background-size: 6264px;}
      }
      @keyframes slidein {
        from {background-position: -2200px -2600px; background-size: 9264px; }
        to {background-position: center; background-size: 6264px;}
      }                   
    </style>
  </head>
  <body>
    <div class="grid-container">
      <div class="header-container-top" style=" grid-column: 1 / 5; grid-row: 1;">
        <h1 class="header-scroll" style="animation: marquee 100s linear infinite;">
          <span :for={_n <- 1..2}>MKOUSSA&nbsp;</span>
          <span style="mix-blend-mode: difference; animation: rainbow-color 2.5s linear; animation-iteration-count: infinite;">
            WELCOME&nbsp;
          </span>
          <span :for={_n <- 1..11}>MKOUSSA&nbsp;</span>
        </h1>
      </div>

      <div class="header-container-side" style="grid-column: 1; grid-row: 1 / 4; rotate: 180deg;">
        <h1 class="header-scroll" style="animation: marquee 20s linear infinite; rotate: 90deg;">
          <span :for={_n <- 1..7}>MKOUSSA&nbsp;</span>
        </h1>
      </div>

      <div class="nav">
        <.link class="navButton" patch={~p"/"}>Home</.link> <br /><br />
        <a class="navButton" href={~p"/shop/products/"}>Shop</a> <br /><br />
        <a class="navButton" href={~p"/loguesdk/"}>Korg LogueSDK</a> <br /><br />
        <.link class="navButton" patch={~p"/mkoussa"}>About</.link> <br /><br />
        <a class="navButton" href={~p"/blorp"}>Blorp</a> <br /><br />
        <%= if is_nil(@current_user) do %>
          <a
            class="navButton"
            href={~p"/users/log_in"}
            style="animation: rainbow-color 6s ease-in; animation-iteration-count: infinite;"
          >
            Log In
          </a>
          <br /><br />
        <% end %>
      </div>
      <div style="grid-column: 3; grid-row: 2;">
        <div class="nav-user-div">
          <%= if @current_user do %>
            <ul class="nav_user">
              <li class="nav_user_li">
                <.link class="nav_user_button" href={~p"/users/log_out"} method="delete">
                  Log Out
                </.link>
              </li>
              <li class="nav_user_li">
                <a class="nav_user_button" href={~p"/users/orders/"}>Orders</a>
              </li>
              <li class="nav_user_li">
                <a class="nav_user_button" href={~p"/users/settings/"}>Settings</a>
              </li>
            </ul>
          <% end %>
        </div>
        <div class="mainBody">
          <%= @inner_content %>
        </div>
      </div>
      <div class="header-container-side" style="grid-column: 4; grid-row: 1 / 4;">
        <h1 class="header-scroll" style="animation: marquee 20s linear infinite; rotate: 90deg;">
          <span :for={_n <- 1..7}>MKOUSSA&nbsp;</span>
        </h1>
      </div>

      <div class="header-container-bottom" style="grid-column: 1 / 5; grid-row: 3;">
        <h1 class="header-scroll" style="animation: marquee 100s linear infinite; rotate: 180deg;">
          <span :for={number <- 1..14}>MK<%= number %>USSA&nbsp;</span>
        </h1>
      </div>
    </div>
  </body>
</html>
