<!DOCTYPE html>
<html lang="en" class="[scrollbar-gutter:stable]" style="background-color: #ffd3e9;">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="csrf-token" content={get_csrf_token()} />
    <.live_title suffix=" · MKOUSSA">
      <%= assigns[:page_title] || "SHOP" %>
    </.live_title>
    <link phx-track-static rel="stylesheet" href={~p"/assets/app.css"} />

    <link href="https://fonts.googleapis.com/css?family=Megrim" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css?family=Noto+Sans" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css?family=Six+Caps" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css?family=Sixtyfour" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css2?family=Big+Shoulders+Display" rel="stylesheet" />

    <script defer phx-track-static type="text/javascript" src={~p"/assets/app.js"}>
    </script>
    <style>
      .header-container-top, .header-container-side, .header-container-bottom { 
        animation: nil;
      }
      .core-input-default {
      }
      .header {
        letter-spacing: 4px;
        font-size: clamp(25px, 3.5vw, 40px);
        font-family: 'Six Caps';
      }
      .core-input-label {
        letter-spacing: 1px;
        background-color: #C46DC4;
        color: #ffc7ff;
        font-size: clamp(25px, 3.5vw, 30px);
        font-family: 'Six Caps';
        font-style: italic;
      }
      .core-input-input{
        border: 5px solid #C46DC4;
        border-radius: 0 5px 5px 0;
        border-left: none;    
        font-size: clamp(25px, 3.5vw, 40px);
        font-family: "Big Shoulders Display";
        background-color: #f9f3f6;
        color: #C46DC4;

      }
      .core-button{
        font-size: clamp(16px, 3.5vw, 24px);
        font-family: "Big Shoulders Display";
      }
      .core-list{

      }
      .core-list-dt{
      }
      .core-list-item-title{
        font-size: clamp(18px, 3.5vw, 40px);
        font-family: 'Six Caps';
        font-style: italic;
      }
      .core-list-item{
        text-align: center;
        font-size: clamp(18px, 3.5vw, 40px);
        font-family: 'Six Caps';
      }
      .mainBody{
        animation-duration: 0.5s;
      }
      .nav{
        animation-duration: 0.5s;
      }
      .nav-user-div{
        animation-duration: 0.5s;
        mix-blend-mode: difference;

      }
      .nav_user {
        background-color: none;
        color: inherit;
      }
      p {
        font-size: clamp(15px, 2vw, 25px);
        font-family: "Big Shoulders Display";
        text-align: stable;
        font-weight: 900;
      }
      .shop-transition {
        animation-name: backColorShop;
        animation-duration: 0.2s; 
      }
          
    </style>
  </head>
  <body style="background-color: #ffd3e9;">
    <div class="grid-container">
      <div class="header-container-top" style=" grid-column: 1 / 5;grid-row: 1">
        <h1
          class="header-scroll"
          style="animation: marquee 200s linear infinite; font-family: 'Six Caps'"
        >
          <span :for={_n <- 1..3}>SHOP AND BUY AND&nbsp;</span>
          <span style="color: #00ff33; font-family: Sixtyfour; animation: rainbow-color 2.5s linear; animation-iteration-count: infinite;">
            &nbsp;SHOP&nbsp;
          </span>
          <span :for={_n <- 1..104}>AND BUY AND SHOP&nbsp;</span>
        </h1>
      </div>

      <div class="header-container-side" style="grid-column: 1; grid-row: 1 / 4; rotate: 180deg;">
        <h1
          class="header-scroll"
          style="animation: marquee 40s linear infinite; rotate: 90deg;  font-family: 'Six Caps'"
        >
          <span :for={_n <- 1..60}>SHOP AND BUY AND&nbsp;</span>
        </h1>
      </div>

      <div class="nav" style="font-family: 'Six Caps';">
        <a class="navButton" style="font-size: clamp(25px, 3.5vw, 60px);" href={~p"/"}>Home</a>
        <br /><br />
        <.link
          class="navButton"
          style="font-size: clamp(25px, 3.5vw, 50px);"
          patch={~p"/shop/products"}
        >
          Products
        </.link>
        <br /><br />
        <%= if is_nil(@current_user) do %>
          <a
            class="navButton"
            style="font-size: clamp(25px, 3.5vw, 50px);"
            href={~p"/users/log_in"}
          >
            Log In
          </a>
          <br /><br />
        <% end %>
      </div>
      <div style="grid-column: 3; grid-row: 2;">
        <div class="nav-user-div" style="font-family: 'Six Caps';">
          <ul
            class="nav_user"
            style="text-size: larger; font-family: 'Six Caps'; animation-name: backColorReverseShop;"
          >
            <%= if @current_user do %>
              <li class="nav_user_li">
                <.link
                  class="nav_user_button"
                  style="font-size: clamp(25px, 3.5vw, 50px);"
                  href={~p"/users/log_out"}
                  method="delete"
                >
                  Log Out
                </.link>
              </li>
              <li class="nav_user_li">
                <.link
                  class="nav_user_button"
                  style="font-size: clamp(25px, 3.5vw, 50px);"
                  patch={~p"/users/orders/"}
                >
                  Orders
                </.link>
              </li>
              <li class="nav_user_li">
                <.link
                  class="nav_user_button"
                  style="font-size: clamp(25px, 3.5vw, 50px);"
                  href={~p"/users/settings/"}
                >
                  Settings
                </.link>
              </li>
            <% end %>
            <li class="nav_user_li">
              <.link
                class="nav_user_button"
                style="font-size: clamp(25px, 3.5vw, 50px);"
                patch={~p"/shop/cart/"}
              >
                Cart
              </.link>
            </li>
          </ul>
        </div>
        <div class="mainBody">
          <%= @inner_content %>
        </div>
      </div>
      <br />
      <div class="header-container-side" style="grid-column: 4; grid-row: 1 / 4;">
        <h1
          class="header-scroll"
          style="animation: marquee 40s linear infinite; rotate: 90deg;  font-family: 'Six Caps'"
        >
          <span :for={_n <- 1..60}>BUY&nbsp;</span>
        </h1>
      </div>

      <div class="header-container-bottom" style="grid-column: 1 / 5; grid-row:3;">
        <h1
          class="header-scroll"
          style="animation: marquee 200s linear infinite; rotate: 180deg; font-family: 'Six Caps'"
        >
          <span :for={number <- 1..80}>BUY&nbsp;<%= number * number %>&nbsp;OR&nbsp;</span>
        </h1>
      </div>
    </div>
  </body>
</html>
