<section>
    <h1>Korg Logue Effects</h1>
    <p>I currently only have the NTS-1, so YMMV with these effects.<br>If you encounter any issues, let me know and I can try my best to resolve them!</p>
    <h2><a href="/stuttermodfx/">Stutter Mod Effect</a></h2>
    <p>Records a short audio sample and repeats it up to 50 times.</p>
    <h2><a href="/reverseechodelayfx/">Reverse Echo Delay Effect</a></h2>
    <p>Echos reversed audio input</p>


</section>