<.header class="header">
  New Product
  <:subtitle>Use this form to manage product records in your database.</:subtitle>
</.header>

<.product_form changeset={@changeset} action={~p"/shop/products"} />

<.back navigate={~p"/shop/products"}>Back to products</.back>
