:root {
    --base-purple: #C46DC4;
}

html,
body {
    font-family: "Noto Sans", sans-serif;
}

.header-container-top {
    overflow: hidden;
    animation-name: backColorTransitionTop;
    animation-duration: 12s;
    animation-timing-function: ease-in;
    height: clamp(10px, 8vw, 100px);
    align-content: center;
}

.header-container-bottom {
    overflow: hidden;
    animation-name: backColorTransitionBottom;
    animation-duration: 12s;
    animation-timing-function: ease-in;
    height: clamp(10px, 8vw, 100px);
    align-content: center;
}

.header-container-side {
    overflow: hidden;
    animation-name: backColorTransitionSide;
    animation-duration: 12s;
    animation-timing-function: ease-in;
    width: 7vw;
}

.header-scroll {
    font-family: Sixtyfour, Workbench, Nabla, Astloch, Helvetica, sans-serif;
    font-size: clamp(10px, 6vw, 50px);
    margin: 0;
    white-space: nowrap;
    color: #C46DC4;
}

.grid-container {
    display: grid;
    gap: -10%;
    grid-auto-rows: auto;
    grid-template-rows: 10% 80% 10%;
    grid-template-columns: 10% 10% 70% 10%;
    align-content: start;
}

a:link {
    color: inherit;
    text-decoration-line: underline;
}

a:hover {
    text-decoration-line: none;
}

a:visited {
    color: inherit;
    text-decoration-line: none;
}

.nav_user {
    font-family: Megrim, Helvetica, sans-serif;
    border-radius: 5px;
    height: clamp(30px, 5vw, 60px);
    list-style-type: none;
    margin-left: 20%;
    padding: 0;
    width: 80%;
    overflow: hidden;
    background-color: #C46DC4;
    align-content: center;
    align-items: center;
    animation-name: backColorReverse;
    animation-duration: 3s;
}

.nav-user-div {
    mix-blend-mode: difference;
    animation-name: backColorTransitionSide;
    animation-duration: 3s;
}

.nav_user_li {
    float: right;
    display: block;
    color: #0f0d07;
    margin-right: 5%;
}

.nav_user_button {
    transition: 0.8s;
    text-decoration-line: none;
    font-weight: bold;
    font-size: clamp(8px, 1.5vw, 18px);
}

.nav_user_button:link {
    text-decoration-line: none;
}

.nav_user_button:visited {
    text-decoration-line: none;
}

.nav_user_button:hover {
    letter-spacing: 0.5px;
}

.nav-button-svg {
    display: block;
    margin-top: 10%;
    margin: auto;
    transition: 0.8s;
    display: table;
    width: clamp(30px, 2.5vw, 120px);
    height: clamp(30px, 2.5vw, 120px);
}

.nav {
    font-family: Megrim, Helvetica, sans-serif;
    align-content: center;
    border-radius: 5px;
    grid-column: 2;
    grid-row: 2 / 3;
    width: clamp(60px, 10vw, 120px);
    mix-blend-mode: difference;
    color: inherit;
    background-color: #C46DC4;
    animation-name: backColorReverse;
    animation-duration: 3s;
    padding: 1%;
}

.navButton {
    margin-top: 10%;
    transition: 0.8s;
    display: table;
    width: clamp(60px, 10vw, 120px);
    overflow: wrap;
    text-align: center;
    font-weight: bold;
    font-size: clamp(8px, 1.5vw, 18px);
    color: inherit;
    text-decoration-line: none;
}

.navButton:link {
    text-decoration-line: none;
}

.navButton:visited {
    text-decoration-line: none;
}

.navButton:hover {
    letter-spacing: 0.5px;
}

.mainBody {
    text-align: center;
    padding-left: 10%;
    padding-right: 10%;
    background-color: inherit;
    font-size: clamp(6px, 2.5vw, 16px);
    font-weight: bold;
    color: #C46DC4;
}

.loguesdk-mainBody {
    animation-name: backColorLogueSDK;
    animation-duration: 2s;
}

.root-transition {
    animation-name: backColor;
    animation-duration: 0.4s;
}

.chat-room {
    border-radius: 15px;
    border: 5px solid #C46DC4;
    animation: rainbow-border 7.5s linear;
    animation-iteration-count: infinite;
}

.chat-rooms {
    border-radius: 15px;
    border: 5px solid var(--base-purple);
    margin: 2%;
}

.chat-message-me {
    padding-right: 4%;
    margin-left: 33%;
    border-radius: 15px;
    border: 5px solid #C46DC4;
}

.chat-message-them {
    background: rgba(196, 109, 196, .6);
    padding-left: 4%;
    margin-right: 33%;
    border-radius: 15px;
    border: 5px solid #C46DC4;
}

.core-table {
    width: 100%;
}

.core-table-row {
    border-radius: 5px;
    border: 5px outset #C46DC4;
    padding: 0.3rem;
    margin: 0.3rem;
    width: 80%;
    background-color: #C46DC4;
    color: #ffc7ff;
}

.core-table-row:hover {
    border-radius: 5px;
    background-color: #d57ed5;
    border-color: #d57ed5;
}

.core-table-row:active {
    border-radius: 5px;
    border: 5px inset #00ff33;
}

.core-table-span {
    display: flex;
    padding: 0.5%;
    font-size: larger;
    text-wrap: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.core-table-item-title {
    border: 5px solid #d57ed5;
    border-radius: 5px 0 0 5px;
    background-color: white;
    border-right: none;
    color: #d57ed5;
    align-content: center;
    font-size: smaller;
    text-wrap: stable;
    overflow: hidden;
    text-overflow: ellipsis;
}

.core-table-item {
    border: 5px solid #562f56;
    border-radius: 0 5px 5px 0;
    border-left: none;
    background-color: inherit;
    align-content: center;
    font-size: smaller;
    text-wrap: stable;
    overflow: hidden;
    text-overflow: ellipsis;
}

.core-list {
    margin: 0.3rem;
}

.core-list-dt {
    display: flex;
    background-color: inherit;
    align-items: center;
    margin: 0.3rem;
}

.core-list-item-title {
    border: 5px solid #C46DC4;
    border-radius: 5px 0 0 5px;
    background-color: #C46DC4;
    border-right: none;
    color: white;
    padding: 0.7rem;
    height: clamp(40px, 4rem, 900px);
    width: 30%;
    align-content: center;
}

.core-list-item {
    border: 5px solid #C46DC4;
    border-radius: 0 5px 5px 0;
    border-left: none;
    align-content: center;
    width: 70%;
    background-color: inherit;
    padding: 0.7rem;
    height: clamp(40px, 4rem, 900px);
}

.core-button {
    border-radius: 5px;
    background-color: #C46DC4;
    border: 0.5rem outset #C46DC4;
    color: #ffc7ff;
    font-size: larger;
    text-wrap: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.core-button:hover {
    animation: rainbow 4s linear;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

.core-button:active {
    border-radius: 5px;
    background-color: #d57ed5;
    border: 0.5rem inset #00ff33;
    transform: translateY(2px);
}

.core-simple-form {
    margin-bottom: 5%;
}

.core-input-default {
    margin: 2%;
}

.core-input-span {
    display: flex;
}

.core-input-label {
    border: 5px solid inherit;
    border-radius: 5px 0 0 5px;
    border-right: none;
    color: inherit;
    align-content: center;
    padding: 4%;
    width: 30%;
}

.core-input-input {
    align-content: center;
    background-color: inherit;
    padding: 4%;
    width: 70%;
}

.core-input-color {
    border: 5px solid inherit;
    border-radius: 0 5px 5px 0;
    background-color: inherit;
    height: auto;
    width: 100%;
}

@keyframes backColor {
    0% {
        color: #0f0d07;
        transform: translateY(10%);
    }

    100% {
        color: #C46DC4;
        transform: translateY(0);
    }
}

@keyframes backColorLogueSDK {
    0% {
        color: #0f0d07;
        transform: translateY(10%);
    }

    100% {
        color: gold;
        transform: translateY(0);
    }
}

@keyframes backColorBlorp {
    0% {
        color: #7091ea;
        transform: translateY(10%);
    }

    100% {
        color: #dfed25;
        transform: translateY(0);
    }
}

@keyframes backColorShop {
    0% {
        color: #ffd3e9;
        transform: translateY(10%);
    }

    100% {
        color: #C46DC4;
        transform: translateY(0);
    }
}

@keyframes backColorReverse {
    0% {
        background-color: #0f0d07;
        transform: translateY(-10%);
    }

    100% {
        background-color: #C46DC4;
        transform: translateY(0);
    }
}

@keyframes backColorReverseRoot {
    0% {
        background-color: #0f0d07;
        transform: translateX(-100%);
    }

    100% {
        background-color: #C46DC4;
        transform: translateY(0);
    }
}

@keyframes backColorReverseLogueSDK {
    0% {
        background-color: #0f0d07;
        transform: translateY(-10%);
    }

    100% {
        background-color: gold;
        transform: translateY(0);
    }
}

@keyframes backColorReverseBlorp {
    0% {
        background-color: #7091ea;
        transform: translateY(-10%);
    }

    100% {
        background-color: #dfed25;
        transform: translateY(0);
    }
}

@keyframes backColorTransitionSide {
    0% {
        opacity: 0;
        transform: translateX(50%);
    }

    100% {
        opacity: 100;
        transform: translateX(0);
    }
}

@keyframes backColorTransitionTop {
    0% {
        opacity: 0;
        transform: translateY(-50%);
    }

    100% {
        opacity: 100;
        transform: translatY(100%);
    }
}

@keyframes backColorTransitionBottom {
    0% {
        opacity: 0;
        transform: translateY(50%);
    }

    100% {
        opacity: 100;
        transform: translatY(-100%);
    }
}

@keyframes marquee {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(-100%);
    }
}

@keyframes marqueeVert {
    0% {
        transform: translateY(100%);
    }

    100% {
        transform: translateY(0);
    }
}

@keyframes rainbow-svg {

    100%,
    0% {
        fill: rgb(0, 255, 0);
    }

    8% {
        fill: rgb(0, 255, 127);
    }

    16% {
        fill: rgb(0, 255, 255);
    }

    25% {
        fill: rgb(0, 127, 255);
    }

    33% {
        fill: rgb(0, 0, 255);
    }

    41% {
        fill: #C46DC4;
    }

    50% {
        fill: rgb(255, 0, 255);
    }

    58% {
        fill: rgb(255, 0, 127);
    }

    66% {
        fill: rgb(255, 0, 0);
    }

    74% {
        fill: rgb(255, 127, 0);
    }

    84% {
        fill: rgb(255, 255, 0);
    }

    91% {
        fill: rgb(127, 255, 0);
    }
}

@keyframes rainbow-border {

    100%,
    0% {
        border-color: rgb(0, 255, 0);
    }

    8% {
        border-color: rgb(0, 255, 127);
    }

    16% {
        border-color: rgb(0, 255, 255);
    }

    25% {
        border-color: rgb(0, 127, 255);
    }

    33% {
        border-color: rgb(0, 0, 255);
    }

    41% {
        border-color: #C46DC4;
    }

    50% {
        border-color: rgb(255, 0, 255);
    }

    58% {
        border-color: rgb(255, 0, 127);
    }

    66% {
        border-color: rgb(255, 0, 0);
    }

    74% {
        border-color: rgb(255, 127, 0);
    }

    84% {
        border-color: rgb(255, 255, 0);
    }

    91% {
        border-color: rgb(127, 255, 0);
    }
}

@keyframes rainbow {

    100%,
    0% {
        border-color: rgb(0, 255, 0);
        background-color: rgb(0, 255, 0);
    }

    8% {
        border-color: rgb(0, 255, 127);
        background-color: rgb(0, 255, 127);
    }

    16% {
        border-color: rgb(0, 255, 255);
        background-color: rgb(0, 255, 255);
    }

    25% {
        border-color: rgb(0, 127, 255);
        background-color: rgb(0, 127, 255);
    }

    33% {
        border-color: rgb(0, 0, 255);
        background-color: rgb(0, 0, 255);
    }

    41% {
        border-color: #C46DC4;
        background-color: #C46DC4;
    }

    50% {
        border-color: rgb(255, 0, 255);
        background-color: rgb(255, 0, 255);
    }

    58% {
        border-color: rgb(255, 0, 127);
        background-color: rgb(255, 0, 127);
    }

    66% {
        border-color: rgb(255, 0, 0);
        background-color: rgb(255, 0, 0);
    }

    74% {
        border-color: rgb(255, 127, 0);
        background-color: rgb(255, 127, 0);
    }

    84% {
        border-color: rgb(255, 255, 0);
        background-color: rgb(255, 255, 0);
    }

    91% {
        border-color: rgb(127, 255, 0);
        background-color: rgb(127, 255, 0);
    }
}

@keyframes rainbow-color {

    100%,
    0% {
        border-color: rgb(255, 0, 0);
        color: rgb(255, 0, 0);
    }

    8% {
        border-color: rgb(255, 127, 0);
        color: rgb(255, 127, 0);
    }

    16% {
        border-color: rgb(255, 255, 0);
        color: rgb(255, 255, 0);
    }

    25% {
        border-color: rgb(127, 255, 0);
        color: rgb(127, 255, 0);
    }

    33% {
        border-color: rgb(0, 255, 0);
        color: rgb(0, 255, 0);
    }

    41% {
        border-color: rgb(0, 255, 127);
        color: rgb(0, 255, 127);
    }

    50% {
        border-color: rgb(0, 255, 255);
        color: rgb(0, 255, 255);
    }

    58% {
        border-color: rgb(0, 127, 255);
        color: rgb(0, 127, 255);
    }

    63% {
        border-color: rgb(0, 0, 255);
        color: rgb(0, 0, 255);
    }

    72% {
        border-color: #C46DC4;
        color: #C46DC4;
    }

    84% {
        border-color: rgb(255, 0, 255);
        color: rgb(255, 0, 255);
    }

    91% {
        border-color: rgb(255, 0, 127);
        color: rgb(255, 0, 127);
    }
}

@media (prefers-reduced-motion: reduce) {
    .mainBody {
        transition: none;
    }

}